/* Necessary because of the navbar */
body {
  padding-top: 75px;
}

#editor {
  width: 100%;
  height: 800px;
}

/* Hides error containers by default */
#error-container,
#info-container {
  display: none;
  visibility: hidden;
}

/* Used on the login and sign up pages */
#form-container {
  border: 3px solid #ddd;
  padding: 10px;
  box-shadow:
}

/* Also used on the login and sign up pages */
#form-container form + p {
  margin-top: 10px;
}

/* Necessary because React messes with Bootstrap rendering for some reason */
.form-control + .form-control,
.form-control + input[type="hidden"],
.form-control + button,
input[type="hidden"] + button {
  margin-left: 6px;
}

@media (max-width: 991px) {
  #navbar-sign-up {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 767px) {
  .form-control + .form-control,
  .form-control + input[type="hidden"],
  .form-control + button,
  input[type="hidden"] + button {
    margin-left: 0px;
    margin-top: 6px;
  }

  #navbar-sign-up {
    visibility: visible;
    display: inline-block;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.col-center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.gist-file {
  padding: 14px;
}

.gist-file:hover {
  background-color: #eee;
}

.gist-file + .gist-file {
  border-top: 1px solid lightgrey;
}
